<h1>Listing weeks</h1>
<div><p> 
Click the data column to see the orders for a week. The most recent week will be listed at the top of the table. 
</p></div>

<table class = "table table-striped table-bordered table-condensed">
  <tr>
    <th>Start date</th>
    <th>Monday item</th>
  
    <th>Tuesday item</th>
  
    <th>Wednesday item</th>
   
    <th>Thursday item</th>
   
    <th>Delivery fee</th>
    
    
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @weeks .sort_by{|s| DateTime.now - s.start_date} .each  do |week| %>
  <tr>
    <td><%= link_to week.start_date, week_orders_path(week) %></td>
    <td><%= week.monday_item %></td>
    <td><%= week.tuesday_item %></td>
  
    <td><%= week.wednesday_item %></td>
    <td><%= week.thursday_item %></td>
    <td><%= week.delivery_fee %></td>
    <td><%= link_to 'Edit', edit_week_path(week) %></td>
    <td><%= link_to 'Destroy', week, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Week', new_week_path %>
