<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Thanks for your order <%= @order.name %></p>
    <p>
      We have you down for <%= @order.monday_orders %> Monday orders, <%= @order.tuesday_orders %> Tuesday orders,
	  <%= @order.wednesday_orders %> Wednesday orders, and <%= @order.thursday_orders %> Thursday orders. 
	  <% if @order.extra_orders %> You also ordered: <%= @order.extras_in_words %>. <% end %>
	  
    </p>
    <p>
      Your total order, including delivery charges, comes to <strong><%= @order.amount %></strong>. 
    </p>
    <p>Full payment is due with the first delivery of the week. Checks should be made out to Frances Sanahuja. You can leave
	them at your front door for us to pick up, or you can mail them to 147 Dublin Street, San Francisco, CA 94112. </p>
  </body>
</html>