<h1>Editing customer</h1>

<p>Already have an account? <%= link_to "Login here", signin_path %> </p>
<p>Please create an account with Franny's below so that we can securely save your information. You can use your email address and password to
place orders in the future. If you wish, you may also <%= link_to 'Continue without creating an account', new_order_path %></p> <br/>
<%= simple_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

 
    <%= f.input :name %>

    <%= f.input :email %>

    <%= f.input :phone %>

    <%= f.input :address, :input_html =>{:rows => 2} %>
	
	<%= f.input :delivery_route %>
	
	<%= f.input :password, :as => 'password' %>
	
	<%= f.input :password_confirmation, :as => 'password' %>
	
	<%= f.input :remember, :label => "Remember me on this computer?" %> <br/> <br/>

    <%= f.submit %>

<% end %>



