<%= simple_form_for @order, :html => {:class => "form-inline"} do |f| %>
<div style="visibility: hidden"> 
	<% @week.extras .each do |e|%>
		<div id=<%="extra_" + e.id.to_s %>><%=e.price %></div>
	<% end %>
</div>

<input type="hidden" id="delivery_fee" value = "<%=@week.delivery_fee %>"</input>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class = "span8 offset1">
		<div><%= @week.comment.html_safe %> </div> <br/>
			<table class = "table table-bordered">
				<thead>
					<tr>
						<th>Day</th>
						<th>Offering</th>
						<th>Cost</th>
						<th># Meals</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Monday</td>
						<td><%= @week.monday_item %></td>
						<td id = "monday_price"><%= h number_to_currency @week.monday_price %></td>
						<td><%= f.number_field :monday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<tr>
						<td>Tuesday</td>
						<td><%= @week.tuesday_item %></td>
						<td id = "tuesday_price"><%= h number_to_currency @week.tuesday_price %></td>
						<td><%= f.number_field :tuesday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<tr>
						<td>Wednesday</td>
						<td><%= @week.wednesday_item %></td>
						<td id = "wednesday_price"><%= h number_to_currency @week.wednesday_price %></td>
						<td><%= f.number_field :wednesday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<tr>
						<td>Thursday</td>
						<td><%= @week.thursday_item %></td>
						<td id = "thursday_price"><%= h number_to_currency @week.thursday_price %></td>
						<td><%= f.number_field :thursday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<%= f.simple_fields_for :extra_orders do |ff| %>
					<tr>
						<td>Extras</td>
						<td id = "extra_id"><%= ff.input_field :extra_id, :collection => @week.extras, :value_method => :id  %></td>
						<td id = "extra_price">$0.00</td>
						<td><%= ff.number_field :quantity, :value => 0, :class => "span1 quantity"%></td> 
					</tr>
					<% end %>
					
					<tr>
						<td><em>     Delivery Fees</em></td>
						<td>$<%=@week.delivery_fee%> per day </td>
						<td id = "delivery_fees">$0.00</td>
						<td></td> 
					</tr>
					<tr>
						<td><strong>GRAND TOTAL:</strong></td>
						<td></td>
						<td id = "total">0.00</td>
						<td></td> 
					</tr>
				</tbody>
			</table>
			
			
  

  
   
   <% if current_user.nil? %> 
	<%= f.input :name %>
    <%= f.input :address, :input_html =>{:rows => 2} %>    
    <%= f.input :email %>      
    <%= f.input :phone %>
   <% end %>
	<%= f.input :instructions, :input_html =>{:rows => 3}  %>
   

  
 
   
  



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
