<%= simple_form_for @order, :html => {:class => "form-inline"} do |f| %>
<div style="visibility: hidden"> 
	<% @week.extras .each do |e|%>
		<div id=<%="extra_" + e.id.to_s %>><%=e.price %></div>
	<% end %>
</div>

<input type="hidden" id="delivery_fee" value = "<%=@week.delivery_fee %>"></input>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class = "span8 offset1">
		<ul>
			<li>If you would like a meal split in two, please let us know which day and how you would like it done and 
			we are happy to accomodate your request (enter it in Extras) </li>
			<li>If ordering past 1 PM on Sunday, please email me directly </li>
		<div><%= @week.comment.html_safe %> </div> <br/>
			<table class = "table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>Day</th>
						<th>Offering</th>
						<th>Cost</th>
						<th># Meals</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>Monday</strong></td>
						<td><%= @week.monday_item %></td>
						<td id = "monday_price"><%= h number_to_currency @week.monday_price %></td>
						<td><%= f.number_field :monday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<tr>
						<td><strong>Tuesday</strong></td>
						<td><%= @week.tuesday_item %></td>
						<td id = "tuesday_price"><%= h number_to_currency @week.tuesday_price %></td>
						<td><%= f.number_field :tuesday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<tr>
						<td><strong>Wednesday</strong></td>
						<td><%= @week.wednesday_item %></td>
						<td id = "wednesday_price"><%= h number_to_currency @week.wednesday_price %></td>
						<td><%= f.number_field :wednesday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<tr>
						<td><strong>Thursday</strong></td>
						<td><%= @week.thursday_item %></td>
						<td id = "thursday_price"><%= h number_to_currency @week.thursday_price %></td>
						<td><%= f.number_field :thursday_orders, :value => 0, :class => "span1"%></td> 
					</tr>
					<%= f.simple_fields_for :extra_orders do |ff| %>
					
					<tr><%= ff.hidden_field :extra_id %>
						<td><strong>Extras</strong></td>
						
						<td><%= ff .object .extra .name%></td>
						<td class = "extra_price"><%= h number_to_currency ff .object .extra .price %></td>
						<td><%= ff.number_field :quantity, :value => 0, :class => "span1 quantity"%></td> 
					</tr>
					<% end %>
					
					<tr>
						<td><em>     Delivery Fees</em></td>
						<td><%= h number_to_currency @week.delivery_fee %> per day </td>
						<td id = "delivery_fees">$0.00</td>
						<td></td> 
					</tr>
					<tr>
						<td><strong>GRAND TOTAL:</strong></td>
						<td></td>
						<td id = "total">0.00</td>
						<td></td> 
					</tr>
				</tbody>
			</table>
			
			
  

  
   
   <% if current_user.nil? %> 
	<%= f.input :name %>
    <%= f.input :address, :input_html =>{:rows => 2} %>    
    <%= f.input :email %>      
    <%= f.input :phone %>
   <% end %>
    
	<%= f.input :instructions,  :label => "Instructions and/or Requests", :input_html => {:rows => 5}  %>
   

  
 
   
  



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
