<%= simple_form_for :order, :url => update_multiple_orders_path, :html => { :method => :put}  do |f|%>
<h1>Orders page <%= "for the week starting #{@week.start_date}" unless @week.nil? %> </h1>
<p>This shows the orders for a week. You can input amounts paid in the 'paid' column or click on the date to link to the order page </p> 
<table class = "table table-striped table-bordered table-condensed">
  <tr>
	<th>Date</th>
    <th>Name</th>
	<th>Due</th>
	<th>Paid</th>
    <th>Email</th>
	<th>Phone</th>
	<th>Address</th>
	<th>Route#</th>
    <th>Monday orders</th>
    <th>Tuesday orders</th>
    <th>Wednesday orders</th>
    <th>Thursday orders</th>
	<% if defined? @extras %>
		<% @extras .each do |o| %>
			<th><%= o.name %></th>
		<% end %>
	<% else %>
		<th>Extras </th>
	<% end %>
	<th>Instructions</th>
	
   
    <th></th>
   
   
  </tr>

<% @orders.each do |order| %>
 <%= simple_fields_for "order[]", order do |ff| %>
  <tr>
	<td><%= order.week.start_date %></td>
    <td><%= link_to order.name, order.customer %></td>
	<td><%= link_to order.amount, order %></td>
	<td><%= ff.input_field :paid, :class => "span1" %></td>
	<td><%= order.email %></td>
    <td><%= order.phone %></td>
	<td><%= order.address %></td>
	<td><%= order.route %></td>
    <td><%= order.monday_orders %></td>
    <td><%= order.tuesday_orders %></td>
    <td><%= order.wednesday_orders %></td>
    <td><%= order.thursday_orders %></td>
	<% if defined? @extras %>
	<% @extras .each do |o| %>
		<td><%= order.extras(o.id) %></td>
		<% end %>
	<% else %>
	<td><%= order.extras_in_words %> </td>
	
	<% end %>
	
	<td><%= order.instructions %> </td>
    <td><%= link_to 'Delete', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
 <% end %>

</table>
<%= f.submit "Update Orders" %>
<% end %>
<br />
<% if defined? (@week) %>	
	<%= link_to 'Export', week_orders_path(@week, :format=>:csv) %>
<% else %>
	<%= link_to 'Export', orders_path(:format => :csv) %>
<% end %>
<%= link_to 'New Order', new_order_path %>

